[submodule "src/AddToCalendarWidgetForPhoneGap/lib/AbstractPhoneGapWidget"]
	path = src/AddToCalendarWidgetForPhoneGap/lib/AbstractPhoneGapWidget
	url = git@github.com:mendix/AbstractPhoneGapWidget.git
